.home .hero .action-button {
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    background-color: black;
}

$accentColor = #075FDA
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34